<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="icon" href="https://staticsit.jrdaimao.com/web-uat/202312201650/favicon.ico" type="image/x-icon">
</head>
<body>
<table id="table-7" class="list-table">
    <thead>
    <tr>
        <th width="150" scope="col">昵称</th>
        <th scope="col">内容</th>
        <th width="213" scope="col">图片</th>
        <th width="150" scope="col">提交时间</th>
    </tr>
    </thead>
    <tbody>
    <% for(let i = 0;i < list.length;i++){ %>
        <tr>
            <th align="center"><%=list[i].name%></th>
            <th align="left"><%=list[i].desc%></th>
            <th align="left">
            <% for (let j = 0;j<list[i].fileList.length;j++){ %>
                    <a target="_blank" href=<%=list[i].fileList[j].url%>><img src=<%=list[i].fileList[j].url%> alt=""></a>
            <%}%>
            </th>
            <th align="center"><%=list[i].submitTime%></th>
        </tr>
    <% } %>
    </tbody>
</table>
</body>
</html>
